[client]
port        = 3306
socket      = /var/run/mysqld/mysqld.sock
default-character-set = utf8

[mysqld_safe]
socket      = /var/run/mysqld/mysqld.sock
nice        = 0

[mysqld]
user        = mysql
pid-file    = /var/run/mysqld/mysqld.pid
socket      = /var/run/mysqld/mysqld.sock
port        = 3306
datadir     = /var/lib/mysql
tmpdir      = /tmp
skip-host-cache
skip-name-resolve

key_buffer_size     = 16M
max_allowed_packet  = 500M
thread_stack        = 192K
thread_cache_size   = 8
myisam-recover-options      = BACKUP

query_cache_limit = 1M
query_cache_size  = 16M

expire_logs_days = 10
max_binlog_size  = 100M

sql_mode=NO_ENGINE_SUBSTITUTION

#explicit_defaults_for_timestamp=OFF

[mysqldump]
quick
quote-names
max_allowed_packet = 500M

[mysql]
page = grcat .grc | less -RSFXin 

[isamchk]
key_buffer_size = 16M

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
#!includedir /etc/mysql/conf.d/
